@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


div {
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin: 0;
    /* background-color: #ffffff; */
    color: #555;

    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

section {
    border: 0px;
}

.with-background {
    z-index:3;
    display: block;
    background-image: url("backgrounds/MerlionPark_4k.jpg");
    background-size: 100vw;
}

    @media screen and (max-width: 150vh) {
        .with-background {
            background-size: auto 100vh;
        }

    }

    @media screen and (orientation: portrait) {
        .with-background {
            background-size: auto 100vh;
        }

    }

.with-background.fit {
    background-position: 50% 80%;
    height: 83vh;
}

.with-background.fix {
    /* background-size: auto 100vh; */
    background-position: 50% 50%;
    background-attachment: fixed;
}

.logo {
    overflow: hidden;
    height: 20vh;
    width: 100%;
    position: absolute;
    z-index: 10000;
    font-family: "Source Sans Pro";
    font-size: 24px;
    text-decoration: none;
}

.logo a {
    width: inherit;
    float: left;
    color: #000000;
    /* margin-top:0px; */
    text-align: center;
    /* padding: 0px 24px; */
    margin-top: 25px;
    text-decoration: none !important;
}

.bottomnav {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    bottom: 0;
    color: #f2f2f2;
    background-color: #333;
    width:100%;

    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

.bottomnav.fix {
    height: 17vh;
    position: relative;
}

.bottomnav.rel {
    position: relative;
}

.bottomnav a {
    color: #ACF; 
    text-align:center;
    font-size: 24px;
    padding: 2px;
}

.bottomnav a:hover {
    color: #47D3E5 !important;
}

.bottomnav a:active {
    background-color: rgba(71, 211, 229, 0.2);
    color: #47D3E5 !important;
}
  

.bottomnavtext {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

.icon {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #f2f2f2;
    padding: 1rem 0.25rem 0 0.25rem;
}

.icon.dark {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #555;
    padding: 1rem 0.25rem 0 0.25rem;
}

.icon:hover {
    color: #47D3E5 !important;
}

.icon:active {
    background-color: rgba(71, 211, 229, 0.2);
    color: #47D3E5 !important;
}
  

@media (max-width:767px) {
    .halfpage {position:relative; width:96%;}
    .slidesection {margin-left: 16px; margin-right: 16px; margin-top: 60px; height:270px;}
}

@font-face {
    font-family: 'Scriptina';
    src: url('SCRIPTIN.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Molengo';
    src: url('molengo-regular.ttf') format('truetype');
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 1rem 0 1rem 0;
    color: #000000;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
    }

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

    @media screen and (max-width: 720px) {

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
        }

        h4 {
            font-size: 0.75rem;
        }

    }


    @media screen and (max-width: 400px) {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        h3 {
            font-size: 0.75rem;
        }

        h4 {
            font-size: 0.66rem;
        }

    }

p {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 0 2rem 0;
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    p a {
        color: #04046A;

    }

    p a.main {
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        color: inherit;
        text-decoration: none;
    }

    
    p a.main:hover {
        color: #47D3E5 !important;
    }

    p a.main:active {
        background-color: rgba(71, 211, 229, 0.2);
        color: #47D3E5 !important;
    }

    p.major {
        font-size: 1.25rem;
    }

@media screen and (max-width: 720px) {

    p.major {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.75rem;
    }

}


@media screen and (max-width: 400px) {

    p.major {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.66rem;
    }

}

.underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.no-margin {
    margin: 0;
}

.top-border {
    /* margin-top: 3.5rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-style: solid;
    border-color: #555;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}


/* Image */
.image {
    border-radius: 0;
    width: 100%;
    z-index:3;
}

    .image img {
        object-fit: cover;
        object-position: center;
        display: block;
        left: 0;
        width: 100%;
        height: 85vh;
        border-radius: 0;
    }


/* Banner  */
.banner {
    position: abnsolute;
    top: 5vh;
    left: 0px;
    align-items: stretch;
    justify-content: flex-end;
    text-align: left;
    overflow-x: hidden;
}

    .banner .content {
        top: inherit;
        position: absolute;
        text-align: left;
        background-color: #ffffff;
        opacity: 93%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        padding: 2rem 4rem 4rem 4rem ;
        margin-right: 2vh;
        align-self: center;
        z-index:4;
    }

    @media screen and (max-width: 1920px) {
        .banner .content {
            width: 35vw;
        }

    }

    @media screen and (max-width: 1280px) {
        .banner {
            top: 5vh;
            min-height: 40vh;
        }

        .banner .content {
            padding: 1.5rem 2rem 2.5rem 2rem ;
            width: 75vw;
        }

        
        .banner.fullscreen .content {
            min-height: 40vh;
            width: 75vw;
        }

        .image {
            height: 40vh;
        }
    }

    @media screen and (orientation: portrait) {
        .banner {
            top: 5vh;
            min-height: 40vh;
        }

        .banner .content {
            padding: 1.5rem 2rem 2.5rem 2rem ;
            width: 75vw;
        }

        
        .banner.fullscreen .content {
            min-height: 40vh;
            width: 75vw;
        }

        .image {
            height: 40vh;
        } 
    }


/* Button */
.button {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    display: inline-block;

    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;

    max-width: 20rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 2em;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;

    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
}

.button.align-center {
    display: block;
    margin:0 auto;
    margin-bottom: 1rem;
    align-self: center;
}

.button.top-margin {
    margin-top: 2rem;
}

.button:hover {
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
}

.button:active {
    background-color: rgba(71, 211, 229, 0.2);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
}

@media screen and (max-width: 720px) {

    .button{
        display: block;
        margin:0 auto;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        align-self: center;
    }

}

@media screen and (max-width:400px) {
    .button{
        font-size: 0.66rem;
    }

}


/* Divided */
.divided > * {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

    .divided > *:first-child {
        box-shadow: none !important;
    }

.divided > .invert {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.125);
}

    .divided > .invert:first-child {
        box-shadow: none !important;
    }

/* Wrapper (style1) */

.wrapper.style1 > .inner {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 70vw;

    background-color: #ffffff;
    opacity: 95%;
    border-radius: 50px;
    /* border-top-right-radius: 50px;
    border-top-left-radius: 50px; */
}

    .wrapper.style1 > .inner.medium {
        width: 48rem;
    }

    .wrapper.style1 > .inner.small {
        width: 32rem;
    }

@media screen and (max-width: 1920px) {

    .wrapper.style1 > .inner {
        top: 2.5rem;
        padding: 4rem 4rem 4rem 4rem ;
    }

}

@media screen and (orientation: portrait) {

    .wrapper.style1 > .inner {
        width: 100vw;
        padding: 3rem 2rem 5rem 2rem ;
    }

}


/* Style1 */

.items.style1 {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* position: relative; */
}

    .items.style1 > * {
        border-style: solid;
        border-color: #CCC !important;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
    }

    .items.style1.medium > * {
        padding: 2.1875rem 2.1875rem 2.1875rem 2.1875rem ;
        width: 50%;
        margin: 0 auto;
    }

        .items.style1.medium > *{
            border-top-width: 1px;
        }


    @media screen and (max-width: 1280px) {

        .items.style1.medium > * {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem ;
            width: 50%;
            margin: 0 auto;
        }

    }

    @media screen and (max-width: 480px) {

        .items.style1.medium > * {
            padding: 2.625rem 2.625rem 2.625rem 2.625rem ;
            width: 80%;
            
        }

    }


.items.style2 {
    text-align: left;
    margin: 2rem auto 0;
}

    @media screen and (max-width: 480px) {
        .items.style2.medium > * {
            width: 80%;
        }
    }
