@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


div {
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin: 0;
    /* background-color: #ffffff; */
    color: #555;

    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.65;
}

section {
    border: 0px;
}

.with-background {
    z-index:-1;
    display: block;
    background-image: url("backgrounds/MerlionPark_4k.jpg");
    background-size: 100vw;
}

    @media screen and (max-width: 150vh) {
        .with-background {
            background-size: auto 100vh;
        }

    }

    @media screen and (orientation: portrait) {
        .with-background {
            background-size: auto 100vh;
        }

    }

.with-background.fit {
    background-position: 50% 80%;
    height: 83vh;
}

.with-background.fix {
    /* background-size: auto 100vh; */
    background-position: 50% 50%;
    background-attachment: fixed;
}

.logo {
    overflow: hidden;
    height: 20vh;
    width: 100%;
    position: absolute;
    z-index: 10000;
    font-family: "Source Sans Pro";
    font-size: 24px;
    text-decoration: none;
}

.logo a {
    width: inherit;
    float: left;
    color: #000000;
    /* margin-top:0px; */
    text-align: center;
    /* padding: 0px 24px; */
    margin-top: 25px;
    text-decoration: none !important;
}

.bottomnav {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    bottom: 0;
    color: #f2f2f2;
    background-color: #333;
    width:100%;

    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

.bottomnav.fix {
    height: 17vh;
    position: relative;
}

.bottomnav.rel {
    position: relative;
}

.bottomnav a {
    color: #ACF; 
    text-align:center;
    font-size: 24px;
    padding: 2px;
}

.bottomnav a:hover {
    color: #47D3E5 !important;
}

.bottomnav a:active {
    background-color: rgba(71, 211, 229, 0.2);
    color: #47D3E5 !important;
}
  

.bottomnavtext {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}

.icon {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #f2f2f2;
    padding: 1rem 0.25rem 0 0.25rem;
}

.icon.dark {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #555;
    padding: 1rem 0.25rem 0 0.25rem;
}

.icon:hover {
    color: #47D3E5 !important;
}

.icon:active {
    background-color: rgba(71, 211, 229, 0.2);
    color: #47D3E5 !important;
}
  

@media (max-width:767px) {
    .halfpage {position:relative; width:96%;}
    .slidesection {margin-left: 16px; margin-right: 16px; margin-top: 60px; height:270px;}
}

@font-face {
    font-family: 'Scriptina';
    src: url('SCRIPTIN.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Molengo';
    src: url('molengo-regular.ttf') format('truetype');
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    line-height: 1.375;
    letter-spacing: -0.05em;
    margin: 1rem 0 1rem 0;
    color: #000000;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
    }

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

    @media screen and (max-width: 720px) {

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
        }

        h4 {
            font-size: 0.75rem;
        }

    }


    @media screen and (max-width: 400px) {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }

        h3 {
            font-size: 0.75rem;
        }

        h4 {
            font-size: 0.66rem;
        }

    }

p {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 0 2rem 0;
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    p a {
        color: #04046A;

    }

    p a.main {
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        color: inherit;
        text-decoration: none;
    }

    
    p a.main:hover {
        color: #47D3E5 !important;
    }

    p a.main:active {
        background-color: rgba(71, 211, 229, 0.2);
        color: #47D3E5 !important;
    }

    p.major {
        font-size: 1.25rem;
    }

    p.no-margin {
        margin: 0;
    }

@media screen and (max-width: 720px) {

    p.major {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.75rem;
    }

}


@media screen and (max-width: 400px) {

    p.major {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 0.66rem;
    }

}

.underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.no-margin {
    margin: 0;
}

.top-border {
    /* margin-top: 3.5rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-style: solid;
    border-color: #CCC;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}


/* Image */
.image {
    border-radius: 0;
    width: 100%;
    /* z-index: 3; */
}

    .image img {
        pointer-events: none;
    }

/* Banner  */
.banner {
    top: 5vh;
    left: 0px;
    align-items: stretch;
    justify-content: flex-end;
    text-align: left;
    overflow-x: hidden;
}

    .banner .content {
        top: inherit;
        position: absolute;
        text-align: left;
        background-color: #ffffff;
        opacity: 93%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;

        padding: 2rem 4rem 4rem 4rem ;
        margin-right: 2vh;
        align-self: center;
        z-index:4;
    }

    @media screen and (max-width: 1920px) {
        .banner .content {
            width: 35vw;
        }

    }

    @media screen and (max-width: 1280px) {
        .banner {
            top: 5vh;
            min-height: 40vh;
        }

        .banner .content {
            padding: 1.5rem 2rem 2.5rem 2rem ;
            width: 75vw;
        }

        
        .banner.fullscreen .content {
            min-height: 40vh;
            width: 75vw;
        }

        .banner .image {
            height: 40vh;
        }
    }

    @media screen and (orientation: portrait) {
        .banner {
            top: 5vh;
            min-height: 40vh;
        }

        .banner .content {
            padding: 1.5rem 2rem 2.5rem 2rem ;
            width: 75vw;
        }

        
        .banner.fullscreen .content {
            min-height: 40vh;
            width: 75vw;
        }

        .image {
            height: 40vh;
        } 
    }


/* Button */
.button {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    display: inline-block;

    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;

    max-width: 20rem;
    height: 4em;
    line-height: 4em;
    border-radius: 4em;
    padding: 0 2em;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;

    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
}

.button.align-center {
    display: block;
    margin:0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* margin-right: 0px;
    margin-left: 0px; */
    align-self: center;
}

.button.top-margin {
    margin-top: 2rem;
}

.button.equal-margin {
    margin: 0.25 0.5rem 0.25 0.5rem;
}

.button.fixed-width {
    width: 200px;
}

.button:hover {
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
}

.button:active {
    background-color: rgba(71, 211, 229, 0.2);
    box-shadow: inset 0 0 0 1px #47D3E5;
    color: #47D3E5 !important;
}

@media screen and (max-width: 720px) {

    .button{
        display: block;
        margin:0 auto;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        align-self: center;
        object-position: center;
    }

}

@media screen and (max-width:400px) {
    .button{
        font-size: 0.66rem;
    }

}


/* Divided */
.divided > * {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

    .divided > *:first-child {
        box-shadow: none !important;
    }

.divided > .invert {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.125);
}

    .divided > .invert:first-child {
        box-shadow: none !important;
    }

/* Wrapper (style1) */

.wrapper.style1 > .inner {
    top: 1px;

    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 70vw;

    padding: 3rem 4rem 3.5rem 4rem ;

    background-color: #ffffff;
    opacity: 95%;
}

.wrapper.style1 > .innersmall {
    padding: 1rem 4rem 1rem 4rem ;
}

@media screen and (orientation: portrait) {

    .wrapper.style1 > .inner {
        width: 100vw;
        padding: 3rem 2rem 3.5rem 2rem ;
    }

    .wrapper.style1 > .inner {
        width: 100vw;
        padding: 1rem 2rem 1rem 2rem ;
    }

}

.wrapper.style1 > .outer {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 70vw;

    background-color: #ffffff;
    opacity: 95%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

    .wrapper.style1 > .outer.medium {
        width: 48rem;
    }

    .wrapper.style1 > .outer.small {
        width: 32rem;
    }

@media screen and (max-width: 1920px) {

    .wrapper.style1 > .outer {
        top: 2.5rem;
        padding: 4rem 4rem 4rem 4rem ;
    }

}

@media screen and (orientation: portrait) {

    .wrapper.style1 > .outer {
        width: 100vw;
        padding: 3rem 2rem 2rem 2rem ;
    }

}


/* Style1 */

.items.style1 {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* position: relative; */
}

    .items.style1 > * {
        border-style: solid;
        border-color: #CCC !important;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
    }

    .items.style1.medium > * {
        padding: 2.1875rem 2.1875rem 2.1875rem 2.1875rem ;
        width: 50%;
        margin: 0 auto;
    }

        .items.style1.medium > *{
            border-top-width: 1px;
        }


    @media screen and (max-width: 1280px) {

        .items.style1.medium > * {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem ;
            width: 50%;
            margin: 0 auto;
        }

    }

    @media screen and (max-width: 480px) {

        .items.style1.medium > * {
            padding: 2.625rem 2.625rem 2.625rem 2.625rem ;
            width: 80%;
            
        }

    }


.items.style2 {
    text-align: left;
    margin: 2rem auto 0;
}

    @media screen and (max-width: 480px) {
        .items.style2.medium > * {
            width: 80%;
        }
    }



.items.style3 {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    overflow-x: hidden;
    text-align: left;
}

    .items.style3 .content {
        padding: 7rem 7rem 5rem 7rem ;
        align-self: center;
        flex-grow: 1;
        flex-shrink: 1;
        width: 65%;
        max-width: 64rem;
        margin: 0 auto;
    }

    .items.style3 .image {
        flex-grow: 0;
        flex-shrink: 0;
        width: 35%;
        max-height: 65vh; 
        border-radius: 0;
    }

        .items.style3 .image img {
            object-fit: cover;
            object-position: top;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }


    @media screen and (max-width: 1280px) {

        .items.style3 .content {
            padding: 4rem 4rem 3rem 4rem ;
        }

    }


@media screen and (orientation: portrait) {

    .items.style3 {
        flex-direction: column-reverse;
        text-align: center !important;
    }

        .items.style3 .content {
            padding: 2.5rem 2rem 2.5rem 2rem ;
            width: 100%;
        }

        .items.style3 .image {
            width: 100%;
        }

            .items.style3 .image img {
                object-position: center - 10vh;
                position: relative;
            }

}

    .items.style3.image-position-left .image img {
        object-position: left;
    }

    .items.style3.image-position-right .image img {
        object-position: right;
    }


/* Gallery (style1) */

.gallery.style1 {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: transparent;
}

    .gallery.style1.image img{
        height: 40vh;
    }

    .gallery.style1 input, .gallery.style1 select, .gallery.style1 textarea {
        color: #ffffff;
    }

    .gallery.style1 a {
        color: #ffffff;
    }

        .gallery.style1 a:hover {
            color: #47D3E5;
        }

    .gallery.style1 h1, .gallery.style1 h2, .gallery.style1 h3, .gallery.style1 h4, .gallery.style1 h5, .gallery.style1 h6 {
        color: #ffffff;
    }

    .gallery.style1 button,
    .gallery.style1 .button {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px white;
        color: #ffffff !important;
    }

        .gallery.style1 button:hover,
        .gallery.style1 .button:hover {
            box-shadow: inset 0 0 0 1px #47D3E5;
            color: #47D3E5 !important;
        }

        .gallery.style1 button:active,
        .gallery.style1 .button:active {
            background-color: rgba(71, 211, 229, 0.2);
            box-shadow: inset 0 0 0 1px #47D3E5;
            color: #47D3E5 !important;
        }

    .gallery.style1 article {
        overflow: hidden;
        position: relative;
        width: 25%;
        height: 40vh;
    }

        .gallery.style1 article .image {
            display: block;
            width: 100%;
            height: inherit;
            border-radius: 0;
        }

            .gallery.style1 article .image img {
                object-fit: cover;
                display: block;
                width: 100%;
                height: inherit;
                border-radius: 0;
            }

            .gallery.style1 article .image .position-bottom {
                object-position: bottom;
            }

            .gallery.style1 article .image .position-center {
                object-position: center;
            }

            .gallery.style1 article .image .position-top {
                object-position: top;
            }

        .gallery.style1 article .caption {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: opacity 0.2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            padding: 2rem;
            font-size: 0.8rem;
        }

            .gallery.style1 article .caption h2, .gallery.style1 article .caption h3, .gallery.style1 article .caption h4, .gallery.style1 article .caption h5, .gallery.style1 article .caption h6 {
                font-size: 1.25rem;
                margin-bottom: 0.25rem;
            }

        .gallery.style1 article:hover .caption {
            opacity: 1;
        }

    @media screen and (max-width: 1280px) {

        .gallery.style1 article {
            width: 33.33333%;
        }

            .gallery.style1 article .caption {
                padding: 1.5rem;
            }

    }

    @media screen and  (orientation: portrait) {

        .gallery.style1 article {
            width: 100%;
            /* padding: 1rem; */
        }

            .gallery.style1 article .caption {
                width: 100vw;
                padding: 1rem;
                /* margin: 1rem; */
            }

    }

/* Gallery (style1) */
.lightbox {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: transparent;
}

    .lightbox h1, .lightbox h2, .lightbox h3, .lightbox h4, .lightbox h5, .lightbox h6 {
        color: #ffffff;
    }

    .lightbox article {
        display: flex;
        overflow: hidden;
        position: relative;
        float: left;
        height: 100%;
        width: 25%;
    }

        .lightbox article .caption {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: opacity 0.2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            padding: 2rem;
            font-size: 0.8rem;
            z-index: 1;
        }

            .lightbox article .caption h2, .lightbox article .caption h3, .lightbox article .caption h4, .lightbox article .caption h5, .lightbox article .caption h6 {
                font-size: 1.25rem;
                margin-bottom: 0.25rem;
            }

            .lightbox article:hover .caption {
                opacity: 1;
            }

    @media screen and (max-width: 1280px) {

        .lightbox article {
            width: 33.33333%;
        }

    }

    @media screen and  (orientation: portrait) {

        .lightbox article {
            width: 100%;
        }

    }
    
    /* The Modal (background) */
    .lightbox .modal {       
        display: none;
        position: fixed;
        z-index: 11;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.95);;
    }
    
    /* Modal Content */
    .lightbox .modal-content {
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    /* The Close Button */
    .lightbox .close {
        color: white;
        position: absolute;
        line-height: 95%;
        height: 10%;
        right: 25px;
        padding: 16px;
        font-size:35px;
        font-weight: bold;
        transition: 0.6s ease;
        z-index: 99;
    }
    
    .lightbox .close:hover,
    .lightbox .close:focus {
        color: #47D3E580 !important;
    }
    
    /* Next & previous buttons */
    .lightbox .prev,
    .lightbox .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .lightbox .next {
        right: 25px;
        border-radius: 3px;
    }

    /* Position the "next button" to the right */
    .lightbox .prev {
        left: 25px;
        border-radius: 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .lightbox .prev:hover,
    .lightbox .next:hover {
        background-color: #47D3E580 !important;
    }
    
    /* Number text (1/3 etc) */
    .lightbox .numbertext {
        color: #f2f2f2;
        font-size: 20px;
        height : 10%;
        left: 25px;
        padding: 16px;
        position: absolute;
        top: 0;
    }
    
    .lightbox img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .lightbox .mySlides {
        width: 100%;
        height: 100%;
        max-height: 85vh;
        display: none;
        align-items: center;
    }

    .lightbox .mySlides img {
        max-height: inherit;
        padding-left: 15vh;
        padding-right: 15vh;
        object-fit: contain;
    }

    .lightbox .caption-container {
        min-height: 5vh;
        text-align: center;
        padding: 2px 16px;
        color: white;
        margin: 0 15vh;
    }

    .lightbox .active {
        opacity: 1;
    }

    @media screen and  (orientation: portrait) {
        .lightbox .mySlides img {
            padding-left: 0;
            padding-right: 0;
        }

        .lightbox .numbertext,
        .lightbox .prev  {
            left: 0;
        }

        .lightbox .close,
        .lightbox .next  {
            right: 0;
        }
    }
    